# yaml-language-server: $schema=./schema.json
deployments:
  - name: my-deployment
    labels:
      app: $ref('my-deployment-app-label', 'my-deployment')
    replicas: 3
    containers:
      - name: my-container
      - name: with-resources
        resources:
          limits:
            cpu: 1
            memory: 1Gi
          requests:
            cpu: 0.5
            memory: 500Mi
        envFrom:
          - configMapRef:
              name: $useRef('my-configmap')
configMaps:
  - name: $ref('my-configmap', 'my-configmap')
    data:
      key1: value1
      key2: value2
      key3: value3