# yaml-language-server: $schema=./schema.json
deployments:
  - name: my-deployment
    containers:
      - name: my-container
      - name: with-resources
        resources:
          limits:
            cpu: 1
            memory: 1Gi
          requests:
            cpu: 0.5
            memory: 500Mi
services:
  - name: my-service
    selector:
      app: my-deployment
    ports:
      - name: http
        port: 80
        targetPort: http
