# yaml-language-server: $schema=./schema.json
deployments:
  - name: my-deployment
    replicas: 2
    containers:
      - name: echo-server
        image: k8s.gcr.io/e2e-test-images/echoserver:2.5
        resources:
          limits:
            cpu: 100m
            memory: 128Mi
          requests:
            cpu: 10m
            memory: 64Mi
        envFrom:
          - configMapRef:
              name: my-configmap-v2
configMaps:
  - name: my-configmap-v2
    data:
      key1: value1
      key2: value2
      key3: value3