name: Build

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build-cli:
    name: Build CLI
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
           node-version-file: '.nvmrc'
      - name: Install dependencies
        working-directory: ./cli
        run: npm ci
      - name: Build
        working-directory: ./cli
        run: npm run build
      - name: Test
        working-directory: ./cli
        run: npm run test
      - name: Test Generate Kubernetes Package
        working-directory: ./cli
        run:
          dist/main.js generate-k8s --output ../k8s
