name: Release

on:
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write
  packages: write

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.release.outputs.version }}
      release_created: ${{ steps.release.outputs.release_created }}
    steps:
    - uses: googleapis/release-please-action@v4
      id: release
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        release-type: simple

  publish-cli:
    needs: release
    if: ${{ needs.release.outputs.release_created }}
    name: Build CLI
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v6
      with:
        node-version-file: '.nvmrc'
        registry-url: 'https://registry.npmjs.org'
    - name: Install dependencies
      working-directory: ./cli
      run: npm ci
    - name: Build
      working-directory: ./cli
      run: npm run build
    - name: Update version
      working-directory: ./cli
      run: npm version ${{ needs.release.outputs.version }}
    - name: Publish
      env:
        NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      working-directory: ./cli
      run: npm publish --access public

  publish-kubeframe:
    needs:
    - publish-cli
    - release
    if: ${{ needs.publish-cli.result == 'success' }}
    name: Generate Kubeframe
    runs-on: ubuntu-latest
    env:
      LATEST_KUBERNETES_VERSION: "1.34"
    strategy:
      matrix:
        # Versions numbers must be wrapped in quotes because if it ends with 0 it will be converted from 1.30 to 1.3
        versions:
          - "1.34"
          - "1.33"
          - "1.32"
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'
          registry-url: 'https://registry.npmjs.org'
      - name: Build CLI
        working-directory: ./cli
        run: |
          npm ci
          npm run build
      - name: Generate Kubernetes ${{ matrix.versions }} models
        working-directory: ./cli
        run: |
          dist/main.js generate-k8s ${{ matrix.versions }} --output ../core/src
      - name: Build
        working-directory: ./core
        run: npm run build
      - name: Update version
        working-directory: ./core
        run: npm version ${{ needs.release.outputs.version }}
      - name: Update package name
        working-directory: ./core
        run: |
          jq '.name = "@kubeframe/kubeframe-'${{matrix.versions}}'" package.json > tmp.json && mv tmp.json package.json
      - name: Publish
        working-directory: ./core
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: npm publish --access public
